<html>
        <head></head>
        <body>
    <ul>
        <li><a href = "https://sinatra-1-rb2978.c9users.io/numbers">Form이용해보기</a></li>
        <li><a href = "https://sinatra-1-rb2978.c9users.io/form">GET과 POST</li>
        <li><a href = "https://sinatra-1-rb2978.c9users.io/url/wild">Parameter(wildcard)</li>
        <li><a href = "https://sinatra-1-rb2978.c9users.io/search">구글/네이버 검색창 만들기</li>
        <li><a href = "https://sinatra-1-rb2978.c9users.io/op_gg">fake op.gg 만들기</li>
    </ul>
        </body>
</html>