<form>
    <select name="search_method">
        <option value="self"> 승패만 보기 </option>
        <option value="opgg"> OP.GG에서 보기 </option>
    </select>
    <input type="text" placeholder="소환사 이름" name="userName">
    <input type="submit" value="검색">
</form>

<% if params[:userName] %> <!--눈에 보이지 않아도 되는건 =만 없애면 된다-->
<ul>
    <li><%= params[:userName] %>님의 전적입니다.</li>
    <li><%= @win %> 승</li>
    <li><%= @lose %> 패</li>
</ul>
<% end %>